name: Renovate
on:
  workflow_dispatch: # This allows manual triggering
  schedule:
    - cron: "0 7 15 * *" # Run monthly on the 15th at 7:00 AM UTC
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Run action
        uses: renovatebot/github-action@a3c115cd6676c8a5bc72f9715f108759e570daf5 # v43.0.19
        with:
          configurationFile: .github/renovate-config.js
          token: ${{ secrets.RENOVATE_TOKEN }}
